# All respondents
## 90 Entries

In [ ]:
# Imports
import pandas as pd
import plotly.express as px
import plotly.io as pio
import random
import datetime
import plotly.graph_objects as go
import os

In [ ]:
# Methods

# Groups by the given column name and provides a count within each category
# Abd returns a new dataframe
def counter(df, column):
    return df.groupby([column]).size().reset_index(name='count')

def output(figure, title):
    if not os.path.exists("images/all"):
        os.mkdir("images/all")
    figure.write_image(f'images/all/{title[0]}-{title[1]}.jpeg')

In [ ]:
# Settings
pio.renderers.default = 'vscode'
pio.templates.default = 'plotly'

In [31]:
# Data Import
df_csv = pd.read_csv('data/data.csv')
df_csv

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 90 entries, 0 to 89
Data columns (total 44 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   StartDate                   90 non-null     object
 1   EndDate                     90 non-null     object
 2   Status                      90 non-null     object
 3   IPAddress                   90 non-null     object
 4   Progress                    90 non-null     object
 5   Duration (in seconds)       90 non-null     object
 6   Finished                    90 non-null     object
 7   RecordedDate                90 non-null     object
 8   ResponseId                  90 non-null     object
 9   RecipientLastName           2 non-null      object
 10  RecipientFirstName          2 non-null      object
 11  RecipientEmail              2 non-null      object
 12  ExternalReference           2 non-null      object
 13  LocationLatitude            90 non-null     object
 14  LocationLongitude           90 non-null     object
 15  DistributionChannel         90 non-null     object
 16  UserLanguage                90 non-null     object
 17  Q_RecaptchaScore            84 non-null     object
 18  Q_RelevantIDDuplicate       2 non-null      object
 19  Q_RelevantIDDuplicateScore  19 non-null     object
 20  Q_RelevantIDFraudScore      19 non-null     object
 21  Q_RelevantIDLastStartDate   2 non-null      object
 22  Q1                          90 non-null     object
 23  Q2                          90 non-null     object
 24  Q3                          90 non-null     object
 25  Q4                          90 non-null     object
 26  Q5                          90 non-null     object
 27  Q6_1                        77 non-null     object
 28  Q6_2                        77 non-null     object
 29  Q6_3                        77 non-null     object
 30  Q6_4                        77 non-null     object
 31  Q6_5                        77 non-null     object
 32  Q6_6                        77 non-null     object
 33  Q7                          90 non-null     object
 34  Q8                          90 non-null     object
 35  Q9_1                        81 non-null     object
 36  Q9_2                        81 non-null     object
 37  Q9_3                        81 non-null     object
 38  Q10_1                       90 non-null     object
 39  Q11_1                       90 non-null     object
 40  Q12_1                       90 non-null     object
 41  Q13                         90 non-null     object
 42  Q13_9_TEXT                  2 non-null      object
 43  Q14                         86 non-null     object
dtypes: object(44)
memory usage: 31.1+ KB

In [ ]:
# Copy data & drop
temp_csv = df_csv.copy()
temp_csv = temp_csv.drop([0, 1])

In [ ]:
# Reformatting strings as datetimes
temp_csv['StartDate'] = pd.to_datetime(temp_csv['StartDate'], format='%Y-%m-%d %H:%M:%S')
temp_csv['EndDate'] = pd.to_datetime(temp_csv['EndDate'], format='%Y-%m-%d %H:%M:%S')

In [ ]:
# Cleaning the data
ages = ['under 18', 'above 25']
temp_csv = temp_csv[temp_csv.Q2.isin(ages) == False]
temp_csv = temp_csv[temp_csv.Q3 != 'Never']
temp_csv = temp_csv[temp_csv.Q1 != "ckh22@uw.edu"]
temp_csv = temp_csv.reset_index(drop=True)

In [ ]:
# Raffle 
# email_column = temp_csv.loc[:,'Q1']
# emails = email_column.values
# print("Selected winner is", random.choice(emails))

In [ ]:
# Vis 1
title = ['vis1', 'Q2']
vis1_data = counter(temp_csv, 'Q2')
fig = px.bar(data_frame=vis1_data, x='Q2', y='count')
fig.show()
output(fig, title)

![Vis1](images/all/vis1-Q2.jpeg)

In [ ]:
# Vis 2
title = ['vis2', 'Q3']
vis2_data = counter(temp_csv, 'Q3')
fig2 = px.bar(data_frame=vis2_data, x='Q3', y='count')
fig2.show()
output(fig2, title)

![Vis2](images/all/vis2-Q3.jpeg)

In [ ]:
# Vis 3
title = ['vis3', 'Q7']
vis3_data = counter(temp_csv, 'Q7')
fig3 = px.bar(data_frame=vis3_data, x='Q7', y='count')
fig3.show()
output(fig3, title)

![Vis3](images/all/vis3-Q7.jpeg)

In [ ]:
# Vis 4
title = ['vis4', 'Q8']
vis4_data = counter(temp_csv, 'Q8')
fig4 = px.bar(data_frame=vis4_data, x='Q8', y='count')
fig4.show()
output(fig4, title)

![Vis4](images/all/vis4-Q8.jpeg)

In [ ]:
# Vis 5
title = ['vis5', 'Q5']
vis5_data = counter(temp_csv, 'Q5')
fig5 = px.pie(data_frame=vis5_data, names='Q5', values='count')
fig5.show()
output(fig5, title)

![Vis5](images/all/vis5-Q5.jpeg)

In [ ]:
# Vis 6 - Heatmap
title = ['vis6', 'Q4']
fig6 = px.density_heatmap(data_frame=temp_csv, x='Q4', y='Q8', nbinsx=50, nbinsy=50, category_orders={'Q4': ['None', 'Once or twice', 'Three to four times', 'More than four times'], 'Q8': [
                          'Credit/Debit card', 'Husky ID', 'Cash']}, labels=dict(Q8="Typical Payment Method", Q4='Frequency of VM use'), title='Payment vs Frequency of Use')
fig6.show()
output(fig6, title)

![Vis6](images/all/vis6-Q4.jpeg)

In [ ]:
# Vis 7 - Area Graph
title = ['vis7', 'Survey']
vis7_data = temp_csv.groupby([pd.Grouper(key="EndDate", freq='1D'), "DistributionChannel"])['EndDate'].count().reset_index(name="count")
fig7 = px.bar(data_frame=vis7_data, x='EndDate', y='count', color='DistributionChannel')
fig7.show()
output(fig7, title)

![Vis7](images/all/vis7-Survey.jpeg)